@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Raleway:wght@300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
}

html,
body {
  scroll-behavior: smooth;
}
.font-railway{
  font-family: "Raleway", sans-serif;
}
body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 150%;
  margin: 0 auto;
  padding-top: 88px; /* Height of navbar (72px) + some extra space */
}

.container_fluid {
  @apply max-w-full 2xl:max-w-[1280px] px-4 lg:px-10 2xl:mx-auto 2xl:px-0;
}

.h1 {
  @apply text-[32px] md:text-5xl xl:text-[64px] leading-[42px] md:leading-[58px] xl:leading-[78px] -tracking-[0.5px] xl:-tracking-[2.3px] font-semibold;
}

.h3 {
  @apply text-[32px] lg:text-[48px] leading-[42px] lg:leading-[24px] -tracking-[2px] lg:-tracking-[1px] font-bold pb-[30px];
}


.subtitle{
  @apply text-[16px] lg:text-2xl leading-[24px] lg:leading-[32px] -tracking-[0.5px] lg:-tracking-[1px] font-semibold;
}